<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBLog" connectionString="Data Source=172.20.13.152;Initial Catalog=MM_Logs;Persist Security Info=False;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net configSource="log4net.config"/>
</configuration>